@model QuanlyNganHang.Models.tblHopDongvay

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<link href="~/Content/TW2.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" />
<h2>Chi tiết</h2> 

<div>
    <h4>tblHopDongvay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sohopdong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sohopdong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngaylaphopdong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaylaphopdong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Machinhanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Machinhanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Makhachhang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Makhachhang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mathoihan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mathoihan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Trở về danh sách", "Index")
</p>
