@model QuanlyNganHang.Models.Tygia

@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    <link href="~/Content/TW2.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Tygia</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Manguyente)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Manguyente)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ngayapdunggiamoi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ngayapdunggiamoi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.QuyraVietNamDong)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.QuyraVietNamDong)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Chỉnh sửa", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Trở về danh sách", "Index")
    </p>
</body>
</html>
