@model QuanlyNganHang.Models.tblNguyente

@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    <link href="~/Content/TW2.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Bạn có chắc chắn muốn xóa không ?</h3>
    <div>
        <h4>tblNguyente</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Manguyente)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Manguyente)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tennguyente)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tennguyente)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Manguyente)

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Trở về danh sách", "Index")
            </div>
        }
    </div>
</body>
</html>
